* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.left-section {
    flex: 1;
    background: linear-gradient(135deg, #0C3B2E, #6d9773);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.branding {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 0px;
    text-align: center;
}
.branding h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

.branding p {
    font-size: 25px;
    margin-bottom: 1px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.branding .image {
    width: 400px;
    height: 450px;
    padding-bottom: 2px;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-box {
    width: 100%;
    max-width: 400px;
    padding-top: 1px;
}

.login-box h2 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #0C3B2E;
}

.login-box p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #0C3B2E;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0C3B2E;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 40px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options input {
    margin-right: 5px;
}

.ingat label {
    color: #0C3B2E;
}

.forgot-password {
    color: #0C3B2E;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #FFC107;
    border: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    color: #0C3B2E;
    font-weight: 600;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #FFA000;
}

.separator {
    text-align: center;
    margin: 20px 0;
    font-size: 0.9em;
    color: #777;
}

.google-login {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1.2em;
    color: #0C3B2E;
    cursor: pointer;
}

.google-login:hover {
    background-color: #e3e3e3;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.register {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
}

.register a {
    color: #0C3B2E;
    text-decoration: none;
    font-weight: bold;
}

.register a:hover {
    text-decoration: underline;
}
